@media screen and (max-width: 922px) {
    .hero-tagline h1{
        line-height: 50px;
        font-size: 40px;
        margin-bottom: 52px;
    }
    .hero-tagline{
        z-index: 5;
    }
    .img-hero{
        width: 75%;
        height: auto;
        z-index: 1;
    }
    .input-cari .button-secondary {
        width: 120px;
        font-size: 14px;
        height: 75px;
        border-radius: 0;
    }
    .input-cari .button-primary{
        font-size: 24px;
        border-radius: 0;
    }
    .button-fitur{
        width: 100%;
    }
    #contact h3{
        font-size: 30px;
        width: 100%;
    }
    .card-contact{
        padding: 30px 25px;
        width: 100%;
        height: auto;
        margin-top: 30px;
    }
    .card-contact h2{
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 15px;
    }
    .button-primary{
        display: block;
        width: 100%;
    }
    .button-secondary{
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    
    
    h2{
        font-size: 34px;
    }
    .sub-title{
        font-size: 16px;
    }
    .card-layanan{
        margin: 15px 0 ;
    }
    #search h2{
        font-size: 42px;
        line-height: 52px;
    }
    #search p {
        font-size: 18px;
        line-height: 24px;
    }
    .input-cari .button-secondary {
        width: 50%;
        height: 60px;
    }
    .input-cari .button-primary {
        height: 60px;
        width: 30%;
        font-size: 20px;
        border-radius: none;
    }
    .form-control {
        height: 60px !important;
    }
}

@media screen and(max-width: 350px) {

}